---
---

html {
  min-height: 100%;
  position: relative;
  font-size: 9px;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
    margin-bottom: 135px;
}

button {
  border: none;
}

html {
  font-size: 10px;
}

@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }
}

@font-face {
  font-family: wf_segoe-ui_light;
  src: url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot);
  src: local("Segoe UI Light"), local("Segoe WP Light"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot#iefix) format("embedded-opentype"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: wf_segoe-ui_normal;
  src: url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot);
  src: local("Segoe UI"), local("Segoe"), local("Segoe WP"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot#iefix) format("embedded-opentype"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: wf_segoe-ui_semibold;
  src: url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot);
  src: local("Segoe UI Semibold"), local("Segoe Semibold"), local("Segoe WP Semibold"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot#iefix) format("embedded-opentype"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.woff) format("woff"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: wf_segoe-ui_semilight;
  src: url(//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.eot);
  src: url(//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.eot#iefix) format("embedded-opentype"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: wf_segoe-ui_bold;
  src: url(//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot);
  src: url(//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot#iefix) format("embedded-opentype"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

.light {
  font-family: wf_segoe-ui_light, wf_segoe-ui_semilight, wf_segoe-ui_normal, HelveticaNeue-Thin, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
}

.semilight {
  font-family: wf_segoe-ui_semilight, wf_segoe-ui_normal, Arial, sans-serif;
}

.normal, .regular {
  font-family: wf_segoe-ui_normal, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.semibold {
  font-family: wf_segoe-ui_semibold, wf_segoe-ui_normal, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.bold, b {
  font-family: wf_segoe-ui_bold, wf_segoe-ui_semibold, wf_segoe-ui_normal, Arial, sans-serif;
}

body {
  font-family: wf_segoe-ui_normal,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #444;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: wf_segoe-ui_light, wf_segoe-ui_semilight, wf_segoe-ui_normal, HelveticaNeue-Thin, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
}

.faux-h1, h1 {
  font-size: 3rem;
}

.faux-h2, h2 {
  font-size: 2.2rem;
}

.faux-h3, h3 {
  font-size: 1.8rem;
}

.faux-h4, h4 {
  font-size: 1.2rem;
  font-family: wf_segoe-ui_semibold;
  text-transform: uppercase;
}

a {
  color: #0072be;
  text-decoration: none;

  &:focus, &:hover {
    text-decoration: underline;
  }
}

textarea {
  resize: none;
  overflow-y: scroll;
}

.visible {
  visibility: "visible";
}

.link-button, button {
  font-family: wf_segoe-ui_semibold,wf_segoe-ui_normal,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 15px 35px;
  display: inline-block;
  color: inherit;
  cursor: pointer;
}

.main-container {
  min-height: 100%;
  position: relative;
}

.body-content {
  padding-top: 25px;
  padding-bottom: 40px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;

  > [class*=col-] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

@keyframes a {
  0% {
    transform: translateY(-2px);
    transform: translateY(1px);
  }
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
{
  padding-left: 0;
}

header {
  border-bottom: 1px solid #cfe4f5;
}

#docs-navbar.affix {
  position: static;
  top: 0;
}

#docs-navbar.affix-bottom {
  position: relative;
}

.docs-nav h4 {
  margin-top: 0;
}

#docs-navbar {
  padding: 15px 0;

  h4 {
    padding-left: 15px;
  }

  > .nav a {
    padding-left: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .nav {
    li a {
      border-left: 1px solid #ccc;
      display: block;

      &:hover {
        background: none;
        color: #444;
        text-decoration: none !important;
        border-color: #a39fd6;
      }

      &:focus {
        background: none;
      }
    }

    > li {
      > a {
        padding: 8px 15px;
        font-size: 14px;
      }

      li > a {
        padding: 5px 25px;
        position: relative;
      }
    }

    .docs-home {
      padding-bottom: 16px;
    }

    > li > .area {
      font-size: 1.2rem;
      font-family: wf_segoe-ui_semibold;
      text-transform: uppercase;
    }

    .panel {
      margin-bottom: inherit;
      background-color: inherit;
      border: inherit;
      border-radius: inherit;
      box-shadow: inherit;

      > a {
        margin-right: 40px;
      }

      &.expanded {
        a {
          border-color: #373277;
        }

        > a:hover {
          background: url(/docs/img/expand-up.svg) 110px 5px no-repeat;
          background-size: 24px;
        }
      }

      &.collapsed > a:hover {
        background: url(/docs/img/expand-down.svg) 110px 5px no-repeat;
        background-size: 24px;
      }
    }

    .collapsing {
      -webkit-transition-duration: .25s;
      transition-duration: 0.25s;
    }

    li a {
      color: #707070;
    }
  }
}

#docs-navbar .nav li a:focus {
  background-color: transparent;
}

#docs-navbar > .nav {
  > .active {
    .active {
      > a {
        color: #373277 !important;
      }

      > a {
        font-weight: 700;
      }
    }

    > a {
      color: #373277 !important;
    }

    > a:not(.area) {
      font-weight: 700;
    }
  }

  .active .active a:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: #373277;
    top: 10px;
    left: -4px;
    border-radius: 100%;
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 135px;
  width: 100%;
  background-color: #333;
  font-size: 12px;
  color: #fff;
  padding: 25px 0;

  .left {
    font-size: 14px;
  }

  .message {
    display: none;
  }

  .twitter-follow-button {
    vertical-align: bottom;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .github-star-button {
    top: 5px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
  }

  .twitter-follow-button {
    margin-bottom: 20px;
    display: inline-block;
  }

  .right > * {
    display: inline-block;
    vertical-align: top;
  }

  .links {
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        padding-right: 20px;
      }
    }

    a {
      color: #fff;

      &:hover {
        color: #b4a0ff;
        text-decoration: none;
      }
    }
  }

  .copyright {
    margin-left: 30px;

    .logo {
      display: block;
      margin-bottom: 2px;
    }
  }
}

footer {
    clear: both;
    background-color: #616161;
    color: #f2f2f2;
    text-align: left;
	  min-height: 80px;
}